doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, inital-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/scripts.js")
        link(rel="stylesheet", type="text/css", href="/libraries/bootstrap.min.css")
        script(src="/libraries/jquery-3.4.1.min.js")
        script(src="/libraries/bootstrap.bundle.min.js")
        block title
            title Pictionary
        block navbar
        body
            div(class="container-fluid")
                div(class="row")!= flash
                block content
            block javascript