script(src="/js/logoutConfirm.js")
nav(class="navbar navbar-expand-lg navbar-dark bg-primary")
    a(class="navbar-brand" href="#") ODRAW
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-items" aria-controls="navbar-items" aria-expanded="false" aria-label="Ouvrir la navigation")
        span(class="navbar-toggler-icon")

    div(class="collapse navbar-collapse" id="navbar-items")
        ul(class="navbar-nav ml-auto")
            li(class="nav-item mx-3")    
                a(class="nav-link" href="./home") Accueil
            li(class="nav-item mx-3")
                a(class="nav-link" href="./profile") Profile
            li(class="nav-item mx-3")
                a(class="nav-link" href="./logout" id="logout") Deconnexion
