extends includes/layout

block title
    title Liste des parties ouvertes
block content
    include includes/navbar
    div(class="jumbotron text-center")
        h1(class="display-1") Aucune partie en cours
          div(class="row")
            div(class="col-12 text-center")
              a(href="./games/create")
                button(type="button" class="btn btn-info my-4 btn-lg") Créer une partie