extends includes/layout

block title
    title ODRAW

block navbar
  include includes/navbar

block content
  div(class="row")
    div(class="col-12 text-center")
      div(class="jumbotron my-4") Temporary page. This would be a game in the #{namespace} namespace.