.registration-form div{
    padding: 1vh;
    font-size: 15pt;
}

.registration-form input { 
    text-align: center; 
}

.flash-alert {
    width:100%;
    text-align: center;
}

#avatar-preview{
    max-height: 25vh;
}

@media (max-width: 500px) {
    /* Manage Display Headers for Mobile Devices */
    .display-1 {
    font-size: 4.5rem !important;
    }
}

#image-404 {
    width: 100%;
    height: auto;
}

#image-404-container{
    height: 90vh;
}

.navbar{
    z-index: 5;
}

.modal-title{
    font-weight: 700;
}